### print()함수

In [4]:
print('-----------------------------------')
print('print문은 default로 개행을 합니다.')
print()
print()
print('print문은 default로 개행을 합니다.')
print('-----------------------------------')

-----------------------------------
print문은 default로 개행을 합니다.


print문은 default로 개행을 합니다.
-----------------------------------

In [5]:
print('"쌍따옴표를 출력하기"')

"쌍따옴표를 출력하기"

In [6]:
print("'따옴표를 출력하기'")

'따옴표를 출력하기'

In [11]:
print('\'이스케이프 문자를 통해 출력하기\'')

'이스케이프 문자를 통해 출력하기'

이스케이프 문자란? 역슬래시기호와 함께 조합해서 사용하는 특수한 문자

In [12]:
print('줄바꿈\n되었다.')

줄바꿈
되었다.

In [13]:
print('탭간격\t되었다.')

탭간격	되었다.

In [14]:
print('''줄바꿈
확인을
해봅니다
''')

줄바꿈
확인을
해봅니다

In [16]:
print('''
맨 윗줄과 아랫줄을 띄우면
의도하지 않은 줄바꿈이 들어갑니다.
''')

맨 윗줄과 아랫줄을 띄우면
의도하지 않은 줄바꿈이 들어갑니다.

In [19]:
print('''\
역슬래시 기호는 코드의 이어짐을 나타냅니다.\
''')

역슬래시 기호는 코드의 이어짐을 나타냅니다.

Q. 표현식(repr)이 출력해주는데, print() 함수를 통해 출력해야만 하나요?
> 인터렉티브 셸 환경은 값을 곧바로 출력하지만, 파일로 실행할 때는 반드시 print()함수를 사용해야 값을 출력한다.

```python
input() 함수의 출력은 'str'
```

### 문자열을 숫자로 바꾸기

In [25]:
int("52")

52

In [27]:
int("52.333")

ValueError: invalid literal for int() with base 10: '52.333'

> ValueError 예외 발생

In [29]:
int(float("52.333"))

52

### Q1. inch단위를 cm단위로 변경하기

In [30]:
#inch단위를 input받습니다.
raw_input = input()  
#str자료형을 int형으로 형변환합니다.
inch = int(raw_input) 
cm = inch *2.54

print(inch, "inch는 cm단위로",cm, "cm입니다.")

 3
3 inch는 cm단위로 7.62 cm입니다.

### Q2. Swapping

In [31]:
a = input()
b = input()
a, b = b,a

 안녕
 하세요

In [32]:
print(a,b)

하세요 안녕

In [33]:
a = '안녕'
b = '하세요'
c = a
a = b
b = c

print(a,b)

하세요 안녕

### format() 함수

In [35]:
"{},{}".format(10,20)

'10,20'

In [36]:
# format()함수로 숫자를 문자열로 변환하기
string_a = "{}".format(10)

print(string_a)
print(type(string_a))

10
<class 'str'>

### foramt()함수의 인자로 다양한 형태의 자료형이 가능하다.

In [37]:
format_a = "{}만 원".format(5000)
format_b = "파이썬 열공하여 첫 연봉{}만 원 만들기 ".format(5000)
format_c = "{} {} {}".format(3000,4000,5000)
format_d = "{} {} {}".format(1, "문자열", True)

#출력하기
print(format_a)
print(format_b)
print(format_c)
print(format_d)

5000만 원
파이썬 열공하여 첫 연봉5000만 원 만들기
3000 4000 5000
1 문자열 True

### format()함수의 다양한 기능 -  정수를 특정 칸에 출력하기
'{' 기호는  중괄호, curly bracket, brace 라고 부른다.

In [2]:
# 정수
output_a = "{:d}".format(52)

In [3]:
print(type(output_a))
output_a

<class 'str'>

'52'

:

format함수의 출력은 문자열 'str'이다

In [10]:
print("{:5d}".format(52))
print("{:05d}".format(52))

   52
00052

In [13]:
print("{:=10d}".format(-52))
print("{:=+10d}".format(52))

-       52
+       52

In [24]:
print("{:=+15.5f}".format(52))
print("{:=+15.4f}".format(52))
print("{:=+15.3f}".format(52))
print("{:=+14.5f}".format(52))
print("{:=+13.5f}".format(52))

+      52.00000
+       52.0000
+        52.000
+     52.00000
+    52.00000

### split()함수

In [ ]:
print("10    20\t30\n40".split())

['10', '20', '30', '40']

공백이 몇칸이든 `split()`은 전체공백기준으로 나눈다.

format()함수 ,input()함수 등 'str'로 return되는것들을 연산에 활영할때는 int,혹은 float형으로 바꿔줄 것.

### 파괴적연산(in_place), 비파괴적연산
파괴적 연산 - 할당 연산자<br>
비파괴적 연산
- a.split()
- a.format()
- a.upper()
- a.lower()
- a.strip()
- a.lstrip(), a.rstrip()
- a.isalpha(), a.isdigit()
- a.find("b"), a.rfind("b")
- a in b